*{
    padding: 0;
    margin: 0;
    overflow-x: hidden;
}
.game{
    width: 500px;
    height: 240px;
    border: 1px solid black;
    margin: auto;
}
#Score{
    text-align: center;
}
#character{
    position:relative;
    top: 150px;
}
.animate{
    animation: jump 1s linear;
}
@keyframes jump{
    0%{top: 100px;}
    50%{top: 0px;}
    100%{top: 100px;}
}

@keyframes block{
    0%{left: 500px}
    100%{left: -100px}
}
#block{
    position: relative;
    top: 130px;
    left: 500px;
    animation: block 1s infinite linear;
}